/** @format */

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.25rem;
}

dt {
  font-weight: 700;
}

hr {
  height: 0.1875rem;
  color: green;
  background-color: green;
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: circle;
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: lime;
}

a:active {
  color: red;
}

ol {
  list-style-type: upper-roman;
}

p,
li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
}

.copyright {
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: green;
}

.company {
  font-style: italic;
  font-weight: 700;
  color: red;
}

.appleton {
  color: green;
}

.sampson {
  color: blue;
}

.pagetitle {
  margin: 0;
  font-size: 1.875rem;
}

nav {
  float: left;
  width: 9.375rem;
  padding-top: 0.9375rem;
}

/* csslint ignore:start */
#bottomnav {
  clear: left;
  background-color: khaki;
}

#header {
  padding: 0.625rem;
  color: white;
  background-image: url("images/leaf-green.jpg");
}

/* csslint ignore:end */
.tagline {
  margin: 0.125rem;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
}

.logo {
  float: left;
  height: 3.4375rem;
  margin: 0.3125rem;
  border: none;
}

.italics {
  font-style: italic;
}

.navbar {
  margin: 0;
}

.width150 {
  width: 9.375rem;
}

.text-center {
  text-align: center;
}
