/** @format */

ol {
  font-weight: 700;
  list-style-type: decimal;
}

ul {
  font-weight: 400;
}

ul ul {
  font-style: italic;
}

figcaption {
  font-size: 0.75rem;
  font-style: italic;
}

hr {
  height: 0.1875rem;
  color: green;
  background-color: green;
}

.nomargin {
  margin: 0;
}

.upper-alpha {
  list-style-type: upper-alpha;
}
