ol {
  list-style-type: decimal;
  font-weight: bold;
}

ul {
  font-weight: normal;
}

ul ul {
  font-style: italic;
}

figcaption {
  font-size: 12px;
  font-style: italic;
}

hr {
  background-color: green;
  color: green;
  height: 3px;
}

.nomargin {
  margin: 0;
}

.upper-alpha {
  list-style-type: upper-alpha;
}
