/** @format */

.red-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 40rem;
  height: 45.75rem;
  background: red;
}

.blue-box {
  width: 12.5rem;
  height: 12.5rem;
  background: blue;
  display: inline-block;
}
