$text-color: red;
$font-stack: helvetica, sans-serif;
$primary-color: #333;

.header {
  text-align: center;
}

.blog-post,
h2 {
  color: $text-color;
}

h2 {
  color: $text-color;
}

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}
