body {
font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
font-size: 13px
}
h1 {
font-size: 26px
}
h2 {
font-size: 20px
}
dt {
font-weight: bold
}
hr {
background-color: green; 
color: green; 
height: 3px;
}
ul {
list-style-type: square;
}
ul ul {
list-style-type: disc;
}
ul ul ul {
list-style-type: circle;
}
a:link {
color: blue;
}
a:visited {
color: green;
}
a:hover {
color: lime;
}
a:active {
color: red;
}
ol {
list-style-type: upper-roman;
}
p, li {
font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
font-size: 13px;
}
.copyright {
background-color: green;
color: white; 
font-family: "Times New Roman", "Times", serif; 
}
.company {
  color: red;
  font-style: italic;
  font-weight: bold;
}
.appleton {
  color: green;
}
.sampson {
  color: blue;
}
.pagetitle {
font-size: 30px; 
margin: 0;
}
.tagline {
margin: 2px
}
.logo {
border: none; 
float: left; 
height: 55px;
margin: 5px; 
}
.italics {
font-style: italic;
}
.navbar {
margin: 0;
}
