/**
*  csslint universal-selector: false
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.piano {
  background-color: #00471b;
  border-radius: 0.625rem;
  height: 18.125rem;
  margin: 5rem auto;
  padding: 5.625rem 1.25rem 0;
  position: relative;
  width: 62rem;
}

.keys {
  background-color: #040404;
  height: 11.25rem;
  overflow: hidden;
  padding-left: 0.125rem;
  width: 59.3125rem;
}

.key {
  background-color: #fff;
  border-radius: 0 0 0.1875rem 0.1875rem;
  float: left;
  height: 10.9375rem;
  margin: 0.125rem;
  position: relative;
  width: 2.5625rem;
}

.key.black-key::after {
  background-color: #1d1e22;
  border-radius: 0 0 0.1875rem 0.1875rem;
  content: "";
  height: 6.25rem;
  left: -1.125rem;
  position: absolute;
  width: 2rem;
}

.logo {
  position: absolute;
  top: 1.4375rem;
  width: 12.5rem;
}

@media (max-width: 768px) {
  .piano {
    width: 358px;
  }

  .keys {
    width: 318px;
  }

  .logo {
    width: 150px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  .piano {
    width: 675px;
  }

  .keys {
    width: 633px;
  }
}
