@media screen and (min-width: 320px) and (max-device-width: 640px) and (orientation: landscape) {
  figcaption {
    font-size: 0.8rem;
  }

  .navbar {
    height: 7vh;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  figure > img {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  .project-tile {
    border: none;
  }
}
