*,
*::before,
*::after {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: ivory;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  width: 100vw;
}

.navbar {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  background-color: red;
  height: 5vh;
  z-index: 999;
}

.navbar a {
  color: white;
  margin: 0 0.5rem;
}

.profile div a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

.navbar a:last-of-type {
  margin-right: 0.25rem;
}

.navbar a:hover,
.profile div a:hover {
  background-color: gray;
}

.welcome,
.profile {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  flex-direction: column;
}

.projects {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.project-tile {
  align-content: center;
  display: grid;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em;
  overflow: hidden;
  height: 100%;
  border: 0.125rem solid black;
  grid-template-rows: repeat(1, auto);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-tile figure {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(2, auto);
}

.project-tile:nth-of-type(1) {
  background-image: url("tribute.jpg");
}

.project-tile:nth-of-type(2) {
  background-image: url("landingpage.jpg");
}

.project-tile:nth-of-type(3) {
  background-image: url("magazine.jpg");
}

.project-tile:nth-of-type(4) {
  background-image: url("typography.jpg");
}

.project-tile:nth-of-type(5) {
  background-image: url("techdoc.jpg");
}

.project-tile:nth-of-type(6) {
  background-image: url("registrationform.jpg");
}

picture {
  height: 100%;
  margin: 0;
}

picture > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  visibility: hidden;
}

figcaption {
  width: 100%;
  font-size: 1rem;
  font-weight: bolder;
  visibility: hidden;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.125rem solid darkgoldenrod;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

footer p:first-of-type() {
  align-self: flex-start;
}

footer p:last-of-type() {
  align-self: flex-end;
}
