*,
*::before,
*::after {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.navbar {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: right;
  background-color: red;
  height: 5vh;
  z-index: 999;
}

.navbar a {
  color: white;
  margin: 0 0.5rem;
}

.navbar a:last-of-type {
  margin-right: 0.25rem;
}

.navbar a:hover {
  background-color: gray;
}

.welcome {
  height: 100vh;
  width: 100vw;
}

.welcome div {
  margin-top: 45vh;
  margin-bottom: 45vh;
}

.projects: {
  display: grid;
  width: 100vw;
  height: 100vh;
  gap: 0.25rem;
  grid-template-columns: repeat(2, 1fr);
}

.project-tile {
  border: 2px groove blue;
  height: 30vh;
  grid-column: span 1;
}

picture img {
  width: 40vw;
  object-fit: scale-down;
}

figcaption {
  width: 40vw;
  background-color: brown;
}

.profile {
  width: 100%;
  margin: 35vw auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.4rem;
  border-top: 2px solid brown;
  padding: .5rem 0;
}

footer p:first-of-type() {
  align-self: flex-start;
}

footer p:last-of-type() {
  align-self: flex-end;
}

@media screen and (max-width: 480px) {
}
