/* csslint qualified-headings: false */
html {
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.label {
  border: 0.125rem solid black;
  box-sizing: border-box;
  margin: 1.25rem auto;
  padding: 0 0.4375rem;
  width: 16.875rem;
}

header h1 {
  box-sizing: border-box;
  letter-spacing: 0.009375rem;
  margin: -0.25rem 0;
  text-align: center;
}

p {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.divider {
  border-bottom: 1px solid #888989;
  box-sizing: border-box;
  margin: 0.125rem 0;
}

.bold {
  box-sizing: border-box;
  font-weight: 800;
}

.large {
  box-sizing: border-box;
  height: 0.625rem;
}

.large,
.medium {
  background-color: black;
  border: 0;
  box-sizing: border-box;
}

.medium {
  box-sizing: border-box;
  height: 0.3125rem;
}

.small-text {
  box-sizing: border-box;
  font-size: 0.85rem;
}

.calories-info {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.calories-info h2 {
  box-sizing: border-box;
  margin: 0;
}

.left-container p {
  box-sizing: border-box;
  font-size: 2em;
  font-weight: 700;
  margin: -0.3125rem -0.125rem;
}

.calories-info span {
  box-sizing: border-box;
  font-size: 2.4em;
  font-weight: 700;
  margin: -0.4375rem -0.125rem;
}

.right {
  box-sizing: border-box;
  justify-content: flex-end;
}

.indent {
  box-sizing: border-box;
  margin-left: 1em;
}

.double-indent {
  box-sizing: border-box;
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
  box-sizing: border-box;
}

.note {
  box-sizing: border-box;
  font-size: 0.6rem;
  margin: 0.3125rem 0;
  padding: 0 0.5rem;
  text-indent: -0.5rem;
}
