.container {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
  width: 100vw;
}

.parent {
  font-size: 15px;
}

.em-child {
  display: block;
  font-size: 2em;
}

.rem-child {
  display: block;
  font-size: 2rem;
}
