body {
  background-color: white;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

main {
  background-color: #d3d3d3;
  margin: 0;
  padding: 15px 10px;
}

figure {
  background-color: white;
  border: none;
  display: block;
  margin: 0;
  padding: 20px 0;
}

figcaption {
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}

article {
  font-size: 1.2rem;
  margin: auto;
  width: 70%;
}

blockquote {
  font-style: italic;
}

h3 {
  text-align: center;
}

h1,
h2 {
  margin: 3px;
  text-align: center;
}

img {
  background-color: inherit;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  width: 90%;
}
