/**
*  csslint universal-selector: false
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

code {
  display: block;
  padding: 0.125rem;
  overflow: auto;
  font-family: Consolas, "courier new", monospace;
  font-size: 0.75rem;
  color: red;
  background-color: black;
}

.hidden {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 100%;
  margin-right: 0.3125rem;
  text-align: left;
  border-style: solid;
  border-right: 1px;
}

section header {
  margin-top: 0.3125rem;
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  background-color: #f2f2f2;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar header {
  padding: 0.625rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

.navbar li {
  display: block;
  padding: 0.625rem;
  margin: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 1px;
  border-top: 1px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

div {
  display: block;
  width: 80%;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0.625rem;
  margin-left: auto;
}

main {
  padding: 1.25rem;
}

@media screen and (max-width: 400px) {
  .navbar {
    position: relative;
    top: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
  }

  .navbar li {
    display: inline-block;
    padding: 1px;
    margin: 2px;
    margin-bottom: 0;
    border: none;
  }

  div {
    width: 100%;
    margin-bottom: 10px;
  }

  .hidden {
    display: block;
  }
}

.navbar li a {
  display: block;
  color: black;
}

.navbar li a:visited {
  color: black;
}

.navbar li a:hover {
  color: brown;
}

.navbar li a:active {
  color: brown;
}
