body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

code {
  background-color: #eef;
}

header {
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}

.navbar {
  border-right: 1px;
  border-style: solid;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  margin: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 30%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-top: 1px;
  border-width: 1px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  margin-bottom: 0;
  padding: 10px;
}

div {
  box-sizing: border-box;
  margin-left: auto;
  padding: 5px;
  width: 70%;
}

main {
  float: left;
  padding: 20px;
}

@media screen and (max-width: 400px) {
  .navbar {
    position: relative;
    text-align: center;
    width: 100%;
  }

  .navbar li {
    border: none;
    display: inline-block;
    margin: 2px;
    margin-bottom: 0;
    padding: 1px;
  }

  div {
    width: 100%;
  }
}

a {
color: black;
}

a:visited {
color: black;
}

a:hover {
color: brown;
}

a:active {
color: brown;
}
