/**
*  csslint box-sizing: false
*/

body {
  padding: 1.25rem;
  font-family: sans-serif;
  background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
}

h1 {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  font-family: Impact, serif;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-family: Impact, serif;
  font-size: 1.875rem;
  text-align: center;
}

hr {
  height: 0.125rem;
  background-color: brown;
  border-color: brown;
}

img {
  display: block;
  margin-top: -1.5625rem;
  margin-right: auto;
  margin-left: auto;
}

p {
  text-align: center;
}

.bottom-line {
  margin-top: 1.5625rem;
}

.dessert,
.flavor {
  width: 49%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.established {
  font-style: italic;
}

.item p {
  display: inline-block;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  font-size: 1.125rem;
}

.menu {
  box-sizing: border-box;
  width: 80%;
  max-width: 31.25rem;
  padding: 1.25rem;
  margin-right: auto;

  /* box-sizing: content-box; */
  margin-left: auto;
  background-color: burlywood;
}

.price {
  width: 49%;
  padding: 0;
  margin: 0;
  text-align: right;
}

/* FOOTER */

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

footer {
  font-size: 0.875rem;
}

.address {
  margin-bottom: 0.3125rem;
}
