/*csslint box-sizing: false*/
body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-family: Impact, serif;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-family: Impact, serif;
  font-size: 30px;
  text-align: center;
}

hr {
  background-color: brown;
  border-color: brown;
  height: 2px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

p {
  text-align: center;
}

.bottom-line {
  margin-top: 25px;
}

.dessert,
.flavor {
  text-align: left;
  width: 49%;
}

.established {
  font-style: italic;
}

.item p {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.menu {
  background-color: burlywood;
  box-sizing: border-box;
  /* box-sizing: content-box;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 20px;
  width: 80%;
}

.price {
  text-align: right;
  width: 49%;
}

/* FOOTER */

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}
