/**
*  csslint universal-selector: false
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #c9d2fc;
}

.cat-head {
  position: absolute;
  inset: 0;
  width: 12.8125rem;
  height: 11.25rem;
  margin: auto;
  background: linear-gradient(#5e5e5e 85%, #45454f 100%);
  border: 1px solid #000;
  border-radius: 46%;
}

.cat-left-ear {
  position: absolute;
  top: -1.625rem;
  left: -1.9375rem;
  z-index: 1;
  border-right: 2.1875rem solid transparent;
  border-bottom: 4.375rem solid #5e5e5e;
  border-left: 2.1875rem solid transparent;
  border-top-left-radius: 5.625rem;
  border-top-right-radius: 0.625rem;
  transform: rotate(-45deg);
}

.cat-right-ear {
  position: absolute;
  top: -1.625rem;
  left: 10.1875rem;
  z-index: 1;
  border-right: 2.1875rem solid transparent;
  border-bottom: 4.375rem solid #5e5e5e;
  border-left: 2.1875rem solid transparent;
  border-top-left-radius: 5.625rem;
  border-top-right-radius: 0.625rem;
  transform: rotate(45deg);
}

.cat-left-inner-ear {
  position: absolute;
  top: 1.375rem;
  left: -1.25rem;
  border-right: 1.25rem solid transparent;
  border-bottom: 2.5rem solid #3b3b4f;
  border-left: 1.25rem solid transparent;
  border-radius: 5.625rem 0.625rem 40% 40%;
}

.cat-right-inner-ear {
  position: absolute;
  top: 1.375rem;
  left: -1.25rem;
  border-right: 1.25rem solid transparent;
  border-bottom: 2.5rem solid #3b3b4f;
  border-left: 1.25rem solid transparent;
  border-radius: 5.625rem 0.625rem 40% 40%;
}

.cat-left-eye {
  position: absolute;
  top: 3.375rem;
  left: 2.4375rem;
  width: 1.875rem;
  height: 2.5rem;
  background-color: #000;
  border-radius: 60%;
  transform: rotate(25deg);
}

.cat-right-eye {
  position: absolute;
  top: 3.375rem;
  left: 8.375rem;
  width: 1.875rem;
  height: 2.5rem;
  background-color: #000;
  border-radius: 60%;
  transform: rotate(-25deg);
}

.cat-left-inner-eye {
  position: absolute;
  top: 0.5rem;
  left: 0.125rem;
  width: 0.625rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 60%;
  transform: rotate(10deg);
}

.cat-right-inner-eye {
  position: absolute;
  top: 0.5rem;
  left: 1.125rem;
  width: 0.625rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 60%;
  transform: rotate(-5deg);
}

.cat-nose {
  position: absolute;
  top: 6.75rem;
  left: 5.3125rem;
  border-right: 0.9375rem solid transparent;
  border-bottom: 1.25rem solid #442c2c;
  border-left: 0.9375rem solid transparent;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(180deg);
}

.cat-mouth div {
  width: 1.875rem;
  height: 3.125rem;
  border: 0.125rem solid #000;
  border-color: black transparent transparent;
  border-radius: 190%/11.875rem 9.375rem 0 0;
}

.cat-mouth-line-left {
  position: absolute;
  top: 5.5rem;
  left: 4.625rem;
  transform: rotate(170deg);
}

.cat-mouth-line-right {
  position: absolute;
  top: 5.5rem;
  left: 5.6875rem;
  transform: rotate(165deg);
}

.cat-whiskers-left div {
  width: 2.5rem;
  height: 1px;
  background-color: #000;
}

.cat-whiskers-right div {
  width: 2.5rem;
  height: 1px;
  background-color: #000;
}

.cat-whisker-left-top {
  position: absolute;
  top: 7.5rem;
  left: 3.25rem;
  transform: rotate(10deg);
}

.cat-whisker-left-middle {
  position: absolute;
  top: 7.9375rem;
  left: 3.25rem;
  transform: rotate(3deg);
}

.cat-whisker-left-bottom {
  position: absolute;
  top: 8.375rem;
  left: 3.25rem;
  transform: rotate(-3deg);
}

.cat-whisker-right-top {
  position: absolute;
  top: 7.5rem;
  left: 6.8125rem;
  transform: rotate(-10deg);
}

.cat-whisker-right-middle {
  position: absolute;
  top: 7.9375rem;
  left: 6.8125rem;
  transform: rotate(-3deg);
}

.cat-whisker-right-bottom {
  position: absolute;
  top: 8.375rem;
  left: 6.8125rem;
  transform: rotate(3deg);
}
