/**
*  csslint universal-selector: false
*/

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica, serif;
  margin: 0;
}

header {
  align-items: center;
  background-color: #1b1b32;
  display: flex;
  height: 3.125rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  aspect-ratio: 35 / 4;
  background-color: #0a0a23;
  padding: 0.4rem;
  width: max(6.25rem, 18vw);
}

h1 {
  color: #f1be32;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

nav {
  height: 3.125rem;
  max-width: 18.75rem;
  width: 50%;
}

nav > ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  margin-block: 0;
  padding-inline-start: 0;
}

nav > ul > li {
  color: #dfdfe2;
  display: block;
  margin: 0 0.2rem;
  padding: 0.2rem;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 3.125rem;
}

section {
  margin: 0 auto 0.625rem;
  max-width: 37.5rem;
  width: 80%;
}

h2 {
  border-bottom: 0.25rem solid #dfdfe2;
  font-family: Verdana, Tahoma, sans-serif;
  margin-top: 0;
  padding-top: 3.75rem;
}

.info {
  padding: 0.625rem 0 0 0.3125rem;
}

.formrow {
  margin-top: 1.875rem;
  padding: 0 0.9375rem;
}

input {
  font-size: 1rem;
}

.info label,
.info input {
  display: inline-block;
}

.info input {
  text-align: left;
  width: 50%;
}

.info label {
  min-width: 3.4375rem;
  text-align: right;
  width: 10%;
}

.question-block {
  display: block;
  margin-top: 1.25rem;
  padding-top: 0.3125rem;
  text-align: left;
  width: 100%;
}

p {
  font-size: 1.25rem;
  margin-top: 0.3125rem;
  padding-left: 0.9375rem;
}

p::before {
  content: "Question #";
}

.question {
  border: none;
  padding-bottom: 0;
}

.answers-list {
  list-style: none;
  padding: 0;
}

button {
  background: #d0d0d5;
  border: 0.1875rem solid #3b3b4f;
  display: block;
  font-size: 1.4375rem;
  margin: 2.5rem auto;
  padding: 0.9375rem;
  width: 40%;
}

footer {
  background-color: #2a2a40;
  display: flex;
  justify-content: center;
}

footer,
footer a {
  color: #dfdfe2;
}

address {
  padding: 0.3em;
  text-align: center;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
