body {
  color: black;
  font-size: 1rem;
  font-style: italic;
  font-weight: bolder;
  height: 100vh;
  line-height: 1.5;
  max-width: 100%;
  width: 100%;
}

form {
  font-size: 1.25rem;
  margin: 0 auto;
  margin-bottom: 0.625rem;
  max-width: 31.25rem;
  min-width: 18.75rem;
  padding-bottom: 2em;
  width: 60vw;
}

img {
  display: block;
  filter: grayscale(1); /* Microsoft Edge and */
  height: 100%;
  max-width: 100%;
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}

legend {
  margin-bottom: 0.3125rem;
  padding-top: 0.3125rem;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: inherit;
  width: 100%;
}

input:last-of-type[type="checkbox"] {
  margin-bottom: 0.625rem;
  padding-bottom: 0.3125rem;
}

input:last-of-type[type="radio"] {
  margin-bottom: 0.625rem;
  padding-bottom: 0.3125rem;
}

input[type="submit"] {
  background-color: green;
  border-color: white;
  display: block;
  font-size: 1.5rem;
  height: 2em;
  margin: 1em auto;
  min-width: 18.75rem;
  width: 100%;
}

h1,
p {
  margin: 0.25em auto;
  overflow-wrap: break-word;
  padding: 0;
  text-align: center;
}

fieldset {
  border: none;
  margin-bottom: 0.3125rem;
  padding: 0;
}

label {
  display: block;
}

select,
select option {
  color: #000;
}

select:invalid,
select option[value=""] {
  color: #999;
}

.inline {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0;
  vertical-align: baseline;
  width: unset;
}
