*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-size: 16px;
  height: 100vh;
  line-height: 1.5;
  width: 100%;
}
form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;
  width: 60vw;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  width: 100%;
}
h1, p {
  margin: 1em auto;
  overflow-wrap: break-word;
  padding: 0;
  text-align: center;
}
fieldset {
  border: none;
}
.inline {
  display: inline-block;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  width: unset; 
}
label {
  display: block;
}
