body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.portraits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clinton-container,
.face {
  position: relative;
}

.body {
  position: absolute;
  top: 15.625rem;
  left: 3.125rem;
  width: 6.25rem;
  height: 9.375rem;
  background-color: #001f3f;
  border-radius: 0.625rem;
}

.eyes,
.eye {
  position: absolute;
  width: 1.25rem;
  height: 1.875rem;
  background-color: #fff;
  border-radius: 50%;
}

.eye {
  top: 25%;
  left: 25%;
  height: 3.125rem;
  background-color: #000;
}

.righteye {
  top: 25%;
  left: 50%;
  height: 3.125rem;
  background-color: #000;
}

.eye-ai {
  position: absolute;
  top: 25%;
  left: 50%;
  height: 3.125rem;
  background-color: #000;
  border-radius: 50%;
}

.hair {
  position: absolute;
  top: 2.5rem;
  right: 3.125rem;
  left: 3.125rem;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  background-color: #000;
  border-radius: 50%;
}

.head,
.face {
  position: absolute;
  top: 6.25rem;
  left: 3.125rem;
  width: 7.5rem;
  height: 9.375rem;
  background-color: #f0e68c;
  border-radius: 15% 15% 70% 70%;
}

.mouth,
.mouth-ai {
  position: absolute;
  top: 10.9375rem;
  left: 5rem;
  width: 2.5rem;
  height: 1.25rem;
  background-color: #dc143c;
  border-radius: 0 0 50% 50%;
}

.mouth-ai {
  top: 50%;
  height: 2.5rem;
  transform: translateX(-50%);
}

.nose {
  position: absolute;
  top: 10rem;
  left: 5.625rem;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #f0e68c;
  border-radius: 50%;
}

.pupils,
.eye-ai {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000;
  border-radius: 50%;
}

.tie {
  position: absolute;
  top: 16.875rem;
  left: 4.6875rem;
  width: 1.25rem;
  height: 5rem;
  background-color: #b22222;
  border-radius: 0.3125rem;
  transform: rotate(45deg);
}
