*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Anton, sans-serif;
  font-size: 16px;
}

header, footer {
  background: white;
  display: grid;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  position: sticky;
  width: 100%;
  z-index: 999;
}

header {
  border-bottom: 2px double black;
  grid-template-columns: auto auto;
  top: 0;
}

section {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

section[id="HowItWorks"] {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 50%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

h1,
h2 {
  text-align: center;
}

iframe {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

footer {
  display: grid;
  border-top: 2px double black;
  bottom: 0;
  grid-template-areas:
  ". nav-bar"
  "hidden copyright";
}

footer nav {
grid-area: nav-bar;
}

div[class="hidden"] {
visibility: hidden;
grid-area: hidden;
width: 20%;
}

.header-img, {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0;
  object-fit: scale-down;
  width: 20%;
}

.nav-bar {
  align-items: center;
  font-size: 0.75rem;
  justify-content: end;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-bar a {
  margin: 0 5vw;
  padding: 0;
  text-align: right;
}

.nav-bar a:hover {
  background-color: pink;
}

.email {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 30%;
}

.submit {
  background-color: green;
  display: block;
  font-style: italic;
  font-weight: bolder;
  margin: 10px auto 5px;
  padding: 10px;
  width: 20%;
}

.features {
  display: grid;
  grid-gap: 0;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

.area {
display: flex;
margin: auto;
width: 50%;
justify-content: space-evenly;
}

.price {
background-color: red;
font-size: 2em;
font-style: italic;
padding: 0 1em;
}
