*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: Anton, sans-serif;
  font-size: 16px;
}

header,
footer {
  background: white;
  display: grid;
  font-size: 0.75rem;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  position: sticky;
  width: 100%;
  z-index: 999;
}

header {
  border-bottom: 2px double black;
  grid-template-columns: auto auto;
  top: 0;
}

section {
  margin: 0 auto 2vh;
  padding: 0;
}

section[id="HowItWorks"] {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 50%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

footer {
  display: grid;
  border-top: 2px double black;
  bottom: 0;
  grid-template-areas: "copyright nav-bar";
  grid-template-columns: 50% 50%;
  margin-top: 2vh;
}

footer nav {
  grid-area: nav-bar;
}

div[class="hidden"] {
  grid-area: hid;
}

div[class="nav-bar"] {
  grid-area: copyright;
}

.copyright {
  grid-area: copyright;
  padding-left: 3vw;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

.header-img {
  align-self: start;
  margin-left: 0;
  padding-left: 1vw;
  object-fit: scale-down;
  text-align: left;
}

.nav-bar {
  align-items: center;
  justify-content: end;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-bar a {
  margin: 0 5vw;
  padding: 0;
  text-align: right;
}

.nav-bar a:hover {
  background-color: pink;
}

.email {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 30%;
}

.submit {
  background-color: green;
  display: block;
  font-style: italic;
  font-weight: bolder;
  margin: 10px auto 5px;
  padding: 10px;
  width: 20%;
}

.features {
  display: grid;
  grid-gap: 0;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

.area {
  border-bottom: 2px solid gray;
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: space-evenly;
}

.area:last-of-type {
  border: none;
}

.price {
  background-color: red;
  font-size: 2em;
  font-style: italic;
  padding: 0 1em;
}

.heading5 {
  font-size: 1.125rem;
  font-weight: bold;
}
