*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  font-family: Anton, sans-serif;
  font-size: 1rem;
}

header,
footer {
  position: sticky;
  left: 0;
  z-index: 999;
  display: grid;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  font-size: 0.75rem;
  background: white;
}

header {
  top: 0;
  grid-template-columns: auto auto;
  border-bottom: 0.125rem double black;
}

section {
  padding: 0;
  margin: 0 auto 2vh;
}

section[id="how-it-works"] {
  position: relative;
  width: 50%;
  height: 18.75rem;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  overflow: hidden;
}

iframe {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  bottom: 0;
  display: grid;
  grid-template-areas: "copyright nav-bar";
  grid-template-columns: 50% 50%;
  margin-top: 2vh;
  border-top: 0.125rem double black;
}

footer nav {
  grid-area: nav-bar;
}

div[class="hidden"] {
  grid-area: hid;
}

div[class="nav-bar"] {
  grid-area: copyright;
}

.copyright {
  grid-area: copyright;
  padding-left: 3vw;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

.header-img {
  align-self: start;
  padding-left: 1vw;
  margin-left: 0;
  text-align: left;
  object-fit: scale-down;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-bar a {
  padding: 0;
  margin: 0 5vw;
  text-align: right;
}

.nav-bar a:hover {
  background-color: pink;
}

.email {
  display: block;
  width: 30%;
  padding: 0.3125rem;
  margin: 0.625rem auto;
}

.submit {
  display: block;
  width: 20%;
  padding: 0.625rem;
  margin: 0.625rem auto 0.3125rem;
  font-style: italic;
  font-weight: bolder;
  background-color: green;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  width: 50%;
  padding: 0;
  margin: 0 auto;
}

.area {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  border-bottom: 0.125rem solid gray;
}

.area:last-of-type {
  border: none;
}

.price {
  padding: 0 1em;
  font-size: 2em;
  font-style: italic;
  background-color: red;
}

.heading5 {
  font-size: 1.125rem;
  font-weight: 700;
}
