@media screen and (max-width: 480px) {
.header-img {
  margin-top: auto;
  margin-bottom: auto;
}

section[id="HowItWorks"] {
  width: 100%;
}

.email {
  width: 80%;
}

.submit {
  width: 70%;
}

.features {
  width: 100%;
}

.area {
width: 100%;
}

}
