@media screen and (max-width: 480px) {
header {
  grid-template-columns: auto auto;
}

.header-img {
  margin: auto;
  width: 20%;
}

.nav-bar {
  font-size: 0.75rem;
  width: 80%;
}

section[id="HowItWorks"] {
  width: 100%;
}

.email {
  width: 80%;
}

.submit {
  width: 70%;
}

.features {
  width: 100%;
}

.area {
width: 100%;
}
}
