/** @format */

@media screen and (max-width: 480px) {
  section[id="HowItWorks"] {
    width: 100%;
  }

  .header-img {
    margin: auto 0;
  }

  .email {
    width: 80%;
  }

  .submit {
    width: 70%;
  }

  .features {
    width: 100%;
  }

  .area {
    width: 100%;
  }
}
