*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

header {
  background: white;
  border-bottom: 2px double black;
  display: grid;
  font-family: "Exo 2", sans-serif;
  font-size: 1.3rem;
  grid-template-columns: auto auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

section {
margin: auto;
padding: 10px;
text-align: center;
}

hgroup, hgroup::before, hgroup::after {
margin: 0 auto;
padding: 0;
}

section[id="HowItWorks"] {
position: relative;
  overflow: hidden;
  height: 300px;
width: 50%;
padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

h1 {
text-align: center;
}

iframe {
 position: absolute;
 inset: 0;
   width: 100%;
  height: 100%; 
}

ul {
  list-style: none;
}

footer {
  background-color: white;
  border-top: 2px double black;
  bottom: 0;
display: grid;
grid-template-areas: 
". nav"
". copyright";
left: 0;
  position: sticky;
}

footer nav {
  grid-area: nav;
}


.header-img {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  object-fit: scale-down;
  width: 20%;
}

.nav-bar {
  align-items: center;
  justify-content: end;
  display: flex;
  margin: 0;
  width: 80%;
}

.nav-bar a {
  margin: 0 2em;
  padding: 0;
  text-align: right;
}

.nav-bar a:hover {
background-color: pink;
}

.email {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 30%;
}

.submit {
  background-color: green;
  display: block;
  font-size: 0.75rem;
  margin: 10px auto;
  padding: 10px;
  width: 20%;
}

.features {
 display: grid;
 grid-gap: 0;
 margin: 0 auto;
padding: 0;
grid-template-columns: repeat(2, 1fr);
width: 50%;
}

h2 {
text-align: center;
}

.copyright {
  border: none;
  display: flex;
  grid-area: copyright;
  justify-content: flex-end;
  margin: 0;
  margin-left: -5em;
  margin-top: 0.5em;
  padding: 0;
  text-align: left;
  width: 80%;
}
