*,
*::before,
::after {
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
}

header {
  background: white;
  border-bottom: 2px double black;
  display: grid;
  font-family: "Exo 2", sans-serif;
  font-size: 1.3rem;
  grid-template-columns: auto auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

section {
margin: auto;
padding: 10px;
text-align: center;
}

h1 {
text-align: center;
}

iframe {
height: 400px;
width: 50%;
}

footer {
display: grid;
grid-template-areas: 
". nav"
". copyright"; 
}

footer nav {
  grid-area: nav;
}

.header-img {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  object-fit: scale-down;
  width: 20%;
}

.nav-bar {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  margin: 0;
  width: 80%;
}

.nav-bar a {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  text-align: right;
}

.nav-bar a:last-of-type {
padding-right: 0;
}

.email {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 30%;
}

.submit {
  background-color: green;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 20%;
}

.feature-header {
font-size: 2.0rem;
font-weight: bolder;
}

.copyright {
  border: none;
  display: flex;
  grid-area: copyright;
  justify-content: flex-end;
  margin: 0;
  margin-left: 2em;
  margin-top: 0.5em;
  padding: 0;
  text-align: left;
  width: 80%;
}
