/**
*  csslint important: false
*/

html,
body {
  overflow: hidden;
}

.empty {
  background-color: inherit;
}

div {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 100%;
}

.top-hair > div {
  top: 1.125rem;
  left: -0.25rem;
  width: 3.4375rem;
  height: 3.4375rem;
  border: 0.1875rem solid #000;
}

div[id="top"] {
  top: -1.25rem;
  left: 6.25rem;
  width: 8.125rem;
  height: 8.125rem;
}

.top-hair-2 > div {
  top: 1.1875rem;
  left: -0.625rem;
}

div[id="top"] > div {
  top: 2.75rem;
  left: -0.4375rem;
  width: 7.5625rem;
  height: 7.5625rem;
  border: 0.1875rem solid #000;
}

div[id="hair-1"] {
  top: 7.5rem;
  left: 10.6875rem;
  width: 2.6875rem;
  height: 2.6875rem;
}

div[id="hair-1"] .hair {
  width: 156.25rem;
  height: 156.25rem;
  border: 0.1875rem solid #000;
}

div[id="hair-2"] {
  top: -0.3125rem;
  left: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
}

div[id="back"] {
  top: 0.3125rem;
  left: -5.625rem;
  width: 18.75rem;
  height: 18.75rem;
}

div[id="back"] div {
  top: -2.5rem;
  left: 17.125rem;
  width: 31.25rem;
  height: 31.25rem;
  border: 0.1875rem solid #000;
}

div[id="back-2"] {
  top: 5.3125rem;
  left: 11.5625rem;
  width: 2.1875rem;
  height: 2.1875rem;
}

div[id="back-2"] div {
  top: -22.25rem;
  left: -35.3125rem;
  width: 37.5rem;
  height: 37.5rem;
  border: 0.1875rem solid #000;
}

div[id="ear"] {
  top: 8.3125rem;
  left: 10.9375rem;
  width: 5rem;
  height: 5rem;
}

div[id="ear"] > div {
  top: 1.4375rem;
  left: -0.25rem;
  height: 2rem;
  background: #fff;
  border: 0.1875rem solid #000;
}

div[id="ear-line-1"] {
  top: 9.375rem;
  left: 10.625rem;
  width: 1.5625rem;
  height: 1.5625rem;
}

div[id="ear-line-1"] > div {
  top: 0.9375rem;
  left: 0.5625rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.1875rem solid #000;
}

div[id="ear-line-2"] {
  top: 9.6875rem;
  left: 11.4375rem;
  width: 1.5625rem;
  height: 1.5625rem;
}

div[id="ear-line-2"] > div {
  top: 0.75rem;
  left: -0.5rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.1875rem solid #000;
}

div[id="mouth"] {
  top: 5.625rem;
  left: 6.0625rem;
  width: 20.625rem;
  height: 20.625rem;
}

div[id="mouth"] > div {
  top: 4.375rem;
  left: -0.5625rem;
  width: 5.0625rem;
  height: 5.0625rem;
  border: 0.1875rem solid #000;
}

div[id="lip"] {
  top: 13.25rem;
  left: 5.125rem;
  width: 1.25rem;
  height: 1.25rem;
}

div[id="lip"] > div {
  top: -0.375rem;
  left: 0.5rem;
  width: 1.375rem;
  height: 1.375rem;
  border: 0.1875rem solid #000;
}

div[id="smile"] {
  top: 11.5625rem;
  left: 3.75rem;
  width: 6.25rem;
  height: 6.25rem;
}

div[id="smile"] > div {
  top: -15rem;
  left: -5.4375rem;
  width: 16.875rem;
  height: 16.875rem;
  border: 0.1875rem solid #000;
}

div[id="lip-mouth"] {
  top: 12.0625rem;
  left: 8.875rem;
  width: 1.25rem;
  height: 1.25rem;
}

div[id="lip-mouth"] > div {
  top: 0.4375rem;
  left: -0.5625rem;
  width: 1.375rem;
  height: 1.375rem;
  border: 0.1875rem solid #000;
}

div[id="lip-top"] {
  top: 11.5625rem;
  left: 2.625rem;
  width: 1.875rem;
  height: 1.875rem;
}

div[id="lip-top"] > div {
  top: 0.125rem;
  left: 1.0625rem;
  width: 1.375rem;
  height: 1.375rem;
  border: 0.1875rem solid #000;
}

div[id="neck"] {
  top: 14.0625rem;
  left: 4.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

div[id="neck"] > div {
  top: -20rem;
  left: -28.125rem;
  width: 31.25rem;
  height: 31.25rem;
  border: 0.1875rem solid #000;
}

div[id="eyebrow"] {
  top: 4.75rem;
  left: 4.1875rem;
  width: 1.5625rem;
  height: 1.5625rem;
}

div[id="eyebrow"] > div {
  top: 0.375rem;
  left: 0.9375rem;
  width: 1.375rem;
  height: 1.375rem;
  border: 0.1875rem solid #000;
}

div[id="forehead"] {
  top: 3.3125rem;
  left: 4.875rem;
  width: 2.0625rem;
  height: 2.0625rem;
}

div[id="forehead"] > div {
  top: -18.8125rem;
  left: -1.125rem;
  width: 62.5rem;
  height: 62.5rem;
  border: 0.1875rem solid #000;
}

div[id="upperlip"] {
  top: 8.9375rem;
  left: 2.375rem;
  width: 3rem;
  height: 3rem;
}

div[id="upperlip"] > div {
  top: 0.25rem;
  left: 1.625rem;
  width: 6.25rem;
  height: 6.25rem;
  border: 0.1875rem solid #000;
}

div[id="nose"] {
  top: 7.9375rem;
  left: 3.875rem;
  width: 2.1875rem;
  height: 2.1875rem;
}

div[id="nose"] > div {
  top: 0.25rem;
  left: 0.875rem;
  width: 1.8125rem;
  height: 1.8125rem;
  border: 0.1875rem solid #000;
}

div[id="nose-bottom"] {
  top: 8.75rem;
  left: 5.3125rem;
  width: 2.8125rem;
  height: 2.8125rem;
}

div[id="nose-bottom"] > div {
  top: -36.0625rem;
  left: -15.8125rem;
  width: 37.5rem;
  height: 37.5rem;
  border: 0.1875rem solid #000;
}

div[id="nose-top"] {
  top: 7.1875rem;
  left: 5.625rem;
  width: 2.8125rem;
  height: 2.8125rem;
}

div[id="nose-top"] > div {
  top: -36.0625rem;
  left: -15.8125rem;
  width: 37.5rem;
  height: 37.5rem;
  border: 0.1875rem solid #000;
}

/* no = no overflow */
.no {
  overflow: hidden;
}

.frame {
  top: 50%;
  left: 50%;
  width: 18.75rem;
  height: 18.75rem;
  overflow: visible;
  border: 0.1875rem solid #000;
  transform: translate(-50%, -50%);
}

.frame:hover .no {
  overflow: visible;
}

.frame:hover div:not(.pupil) {
  background: none !important;
}

.eye-container {
  top: 6.0625rem;
  left: 5.625rem;
  width: 6.25rem;
  height: 6.25rem;
}

.eye {
  top: -0.1875rem;
  left: 1.5625rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.1875rem solid #000;
}

.eye-lid {
  top: 1.0625rem;
  left: -5.625rem;
  width: 12.5rem;
  height: 12.5rem;
  border: 0.1875rem solid #000;
}

.pupil {
  top: 1.5625rem;
  left: 1.5625rem;
  width: 0.5rem;
  height: 0.5rem;
  background: black;
}

.eye-1 {
  top: 6rem;
  left: -0.6875rem;
  width: 12.5rem;
  height: 12.5rem;
}

.eye-1 .eye {
  top: 3.25rem;
  left: 2.25rem;
}

.eye-1 .eye-lid {
  top: 0.9375rem;
  left: -5rem;
}

.eye-1 .pupil {
  top: 1.375rem;
  left: 1.125rem;
}

.eye-2 .eye {
  background: #fff;
}

.behind-nose {
  top: -3.4375rem;
  left: 2.8125rem;
  width: 6.25rem;
  height: 6.25rem;
}

.hair-1 {
  top: -43.75rem;
  left: -7rem;
}

.hair-2 {
  top: -67.5rem;
  left: 1.5625rem;
}

.hair-3 {
  top: -75rem;
  left: -155.3125rem;
}

.hair-4 {
  top: -32.5rem;
  left: -12.3125rem;
}

.top-hair {
  top: -0.375rem;
  left: 8.5625rem;
  width: 3.75rem;
  height: 3.75rem;
}

.top-hair-2 {
  top: -0.125rem;
  left: 10rem;
}
